/*MAIN HEADER*/
.main_header {
    width: 100%;
    background-color: var(--color-dg-black);
}

.main_header .main_header_content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.main_header .main_header_content .logo {
    flex-basis: 330px;
    padding: var(--area-normal);
}

.main_header .main_header_content .logo img {
    width: 100%;
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a {
    padding: 0 var(--area-box);
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;
    font-size: var(--font-medium);
}

.main_header_content_menu ul li a:hover {
    color: #FFF;
    background-color: var(--color-dg-blue);
}

/*MAIN HOME*/
.main_home {
    width: 100%;
    background-image: url("../img/bd_main_home.jpg");
    background-color: var(--color-dg-black);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main_home .main_home_content {
    margin: 0 auto;
    padding: 200px 60px;
    background-image: linear-gradient(to bottom, var(--color-dg-black) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
}

.main_home .main_home_content h1 {
    font-size: var(--font-max);
    color: #FFFFFF;
    font-weight: var(--weight-bold);
    text-align: center;
}

.main_home .main_home_content p {
    font-size: var(--font-large);
    color: #FFFFFF;
    font-weight: var(--weight-light);
    text-align: center;
    margin: var(--area-normal) 0;

}

.main_home .main_home_content .btn {
    background-color: var(--color-dg-blue);
    color: #FFFFFF;
    font-size: var(--font-small);
    padding: var(--area-small) var(--area-box);
    border-radius: var(--radius-normal);
}

/*MAIN VIDEO GAMES*/
.main_videogames {
    max-width: calc(1300px - 60px);
    padding: 0 var(--area-box);
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main_videogames .main_videogames_header {
    flex-basis: 100%;
    margin: var(--area-box) 0;
}

.main_videogames .main_videogames_header h1 {
    color: var(--color-dg-black);
    margin-bottom: 5px;
    font-size: var(--font-large);
}

.main_videogames article {
    opacity: 0.7;
    flex-basis: calc(25% - var(--area-normal));
    margin: 0 var(--area-small);
    margin-bottom: var(--area-box);
}

.main_videogames article:hover {
    opacity: 1;
}

.main_videogames article img {
    width: 100%;
}

.main_videogames article p {
    margin: var(--area-small) 0;
}

.main_videogames article .console {
    font-size: var(--font-small);
    color: var(--color-dg-blue);
}

.main_videogames article h2 {
    font-weight: var(--weight-light);
    font-size: var(--font-medium);
    color: var(--color-dg-black);
}

/*MAIN ABOUT*/
.main_about {
    width: 100%;
    background-color: var(--color-dg-blue);
    padding: var(--area-box) 0;
}

.main_about .main_about_header {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    color: var(--color-dg-lightgray);
}

.main_about .main_about_header img {
    width: 330px;
    margin: 0 auto;
}

.main_about .main_about_header h1 {
    margin-top: var(--area-box);
    color: #FFFFFF;
    font-size: var(--font-large);

}

.main_about article {
    max-width: 780px;
    margin: 0 auto;
}

.main_about article p {
    margin-top: var(--area-box);
    color: #FFFFFF;
}

/*MAIN PLAYERS*/
.main_players {
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-dg-lightgray);
}

.main_players .main_players_header {
    flex-basis: 100%;
    margin: var(--area-box) 0;
}

.main_players .main_players_header h1 {
    color: var(--color-dg-black);
    margin-bottom: 5px;
    font-size: var(--font-large);
}

.main_players .main_players_content {
    max-width: calc(1300px - calc(var(--area-box) * 4));
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_players .main_players_content article {
    background-color: #ccc;
    border: var(--color-dg-blue) 1px solid;
    display: flex;
    flex-basis: calc(50% - var(--area-box));
    flex-wrap: wrap;
    align-items: center;
    border-radius: var(--radius-normal);
    margin-bottom: calc(var(--area-box) * 2);
}

.main_players .main_players_content article img {
    width: 15%;
    padding: 3px;
    background-color: var(--color-dg-blue);
    border-radius: var(--radius-round);
    margin: var(--area-small);
}

.main_players .main_players_content article .profile {
    flex-basis: calc(85% - var(--area-normal));
    margin: var(--area-small) auto;
}

.main_players article .profile header h2 {
    color: var(--color-dg-black);
    font-weight: var(--weight-bold);
    font-size: var(--font-medium);
    margin-bottom: var(--area-small);
}

.main_players article .profile header p {
    color: var(--color-dg-blue);
    font-weight: var(--weight-light);
    font-size: var(--font-medium);
    margin-bottom: var(--area-small);
}

.main_players article .profile > p {
    color: var(--color-dg-black);
    font-weight: var(--weight-light);
    font-size: var(--font-normal);
}

/*MAIN FOOTER*/
.main_footer {
    width: 100%;
    background-color: var(--color-dg-black);
}

.main_footer .main_footer_content {
    max-width: calc(1300px - calc(var(--area-box) * 4));
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.main_footer .main_footer_content header {
    flex-basis: 100%;

}

.main_footer .main_footer_content header h1 {
    color: var(--color-dg-lightgray);
    margin-bottom: var(--area-box);
    font-size: var(--font-large);
}

.main_footer .main_footer_content article header h2 {
    color: var(--color-dg-lightgray);
    margin-bottom: var(--area-normal);
    font-size: var(--font-medium);
}

.main_footer .main_footer_content article ul li {
    margin-bottom: var(--area-small);
    list-style: none;
}

.main_footer .main_footer_content article ul li a {
    color: var(--color-dg-lightgray);
    font-size: var(--font-normal);
    font-weight: var(--weight-light);
    text-decoration: none;
}

.main_footer .main_footer_content article ul li a:hover {
    text-decoration: underline;
}

.main_footer .main_footer_content .main_footer_pages {
    flex-basis: 25%;
}

.main_footer .main_footer_content .main_footer_links {
    flex-basis: 25%;
}

.main_footer .main_footer_content .main_footer_about {
    flex-basis: 50%;
}

.main_footer .main_footer_content .main_footer_about p {
    color: var(--color-dg-lightgray);
    font-size: var(--font-normal);
    font-weight: var(--weight-light);
}

.main_footer_rights {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #F7F7F7;
    border-top: 1px solid #EBEBEB;
    font-size: 0.9em;
    color: #666;
    font-weight: 300;
}